<!DOCTYPE html>
<html>
  <head>
    <title>Template Engine Test</title>
    <style>
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        margin: 0;
      }
    </style>
    <import src="#{head}"></import>
  </head>

  <body>
    <h1>#{msg}</h1>

    <fieldset>
      <legend><h3>Import temp</h3></legend>
      <import src="temp"></import>
    </fieldset>

    <fieldset>
      <legend>import repeat</legend>
      <repeat index="i" from="50" to="55">
        <import src="temp2"></import>
      </repeat>
    </fieldset>

    <p>
      #{new Date().getSeconds()} is
      <if condition="new Date().getSeconds() % 2 == 0">
        <span>odd</span>
      </if>
      <else>
        <span>not odd</span>
      </else>
    </p>

    <p>run function: <eval>b();</eval></p>

    <pre id="msg"></pre>

    <repeat times="3">
      <pre>this repeat 3 times</pre>
    </repeat>

    <script>
      let test = '#{msg}';
      document.querySelector('#msg').innerHTML = test;
    </script>
  </body>
</html>
